@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Again, Everybody.  I'm Keith Jackson.  Whoa Nellie, he's a horse!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">UI Devs at Microsoft Smell Funny</a>.</p>
</div>
